@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
* {
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0px;
  border: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  height: 100%;
  background-color: #11041c;
}

._cabecalho {
  position: relative;
  font-size: 2.6vw;
  padding-top: 1px;
  -webkit-animation: fade 1ms 1s forwards;
          animation: fade 1ms 1s forwards;
  opacity: 0;
  color: #e2eafc;
  text-align: center;
  top: 10px;
  font-family: 'Fjalla One', sans-serif;
  margin: 0 auto;
}

._entrada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8.75em auto 8.375em 3.5%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item {
  height: 1.5625em;
  padding: 0.3125em;
}

.item:first-child {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.seta {
  width: 1.5625em;
  height: 1.5625em;
  padding-top: 0.3125em;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-animation: is-bouncing 0.5s ease-in alternate infinite;
          animation: is-bouncing 0.5s ease-in alternate infinite;
}

._button {
  width: 7em;
  padding: 11px;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #7c39bc8c;
  background-color: #170527;
  color: #e2eafc;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}

._input {
  width: 9em;
  height: 1.8em;
  border-radius: 8px;
  outline: none;
  text-align: center;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
  border: none;
  background-color: #fff;
  font-size: 1.4em;
  font-family: "Rubik", sans-serif;
  color: #636161;
}

._input:focus {
  -webkit-transform: translateX(31px) scale(200%);
          transform: translateX(31px) scale(200%);
}

._input:focus::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0);
}

._input:focus:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0);
}

._input:focus::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0);
}

._input:focus::placeholder {
  color: rgba(255, 255, 255, 0);
}

._input::-webkit-input-placeholder {
  color: #bebaba;
  font-size: 0.8em;
}

._input:-ms-input-placeholder {
  color: #bebaba;
  font-size: 0.8em;
}

._input::-ms-input-placeholder {
  color: #bebaba;
  font-size: 0.8em;
}

._input::placeholder {
  color: #bebaba;
  font-size: 0.8em;
}

.cartao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#card1,
#card2,
#card3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

.flip1,
.flip2,
.flip3 {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  margin-top: 200px;
}

#frente1,
#frente2,
#frente3 {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #11041c;
}

#verso1,
#verso2,
#verso3 {
  border: 1px solid #7c39bc8c;
  color: #e2eafc;
  background-color: #20003f;
}

.face {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  height: 25vw;
  width: 38vh;
  font-weight: lighter;
  -ms-flex-preferred-size: 1fr 1fr 1fr;
      flex-basis: 1fr 1fr 1fr;
  margin: 0px auto;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  background-color: #11041c;
}

[data-anime] {
  opacity: 0;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

[data-anime].animate {
  opacity: 1;
}

[data-animes] {
  opacity: 0;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

[data-animes].animates {
  opacity: 1;
}

[data-animesi] {
  opacity: 0;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

[data-animesi].animatesi {
  opacity: 1;
}

#pai1,
#pai2,
#pai3 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 2.6em;
  background: #170527;
  padding: 40px 0px 20px 0px;
  margin: 0;
  border-radius: 20px 20px 0 0;
}

#filho1,
#filho2,
#filho3 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 80px;
  word-break: break-all;
  letter-spacing: 0.2em;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 1.7em;
}

@-webkit-keyframes text-reveal {
  from {
    -webkit-transform: translateX(-101%);
            transform: translateX(-101%);
  }
  to {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
  }
}

@keyframes text-reveal {
  from {
    -webkit-transform: translateX(-101%);
            transform: translateX(-101%);
  }
  to {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
  }
}

@-webkit-keyframes fade {
  to {
    opacity: 1;
  }
}

@keyframes fade {
  to {
    opacity: 1;
  }
}

@-webkit-keyframes is-bouncing {
  to {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

@keyframes is-bouncing {
  to {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

@media screen and (max-width: 1461px) {
  .face {
    height: 32vw;
    width: 36vh;
  }
}

@media screen and (max-width: 1280px) {
  .face {
    height: 33vw;
    width: 33vh;
  }
  #filho1,
  #filho2,
  #filho3 {
    font-size: 2em;
  }
}

@media screen and (max-width: 1165px) {
  .face {
    height: 33vw;
    width: 32vh;
  }
  #filho1,
  #filho2,
  #filho3 {
    font-size: 2em;
  }
}

@media screen and (max-width: 1148px) {
  .face {
    height: 37vw;
    width: 34vh;
  }
}

@media screen and (max-width: 1126px) {
  .face {
    height: 37vw;
    width: 31vh;
  }
  #filho1,
  #filho2,
  #filho3 {
    font-size: 2em;
  }
}

@media screen and (max-width: 1033px) {
  .face {
    height: 37vw;
    width: 29vh;
  }
  #pai1,
  #pai2,
  #pai3 {
    font-size: 2em;
  }
  #filho1,
  #filho2,
  #filho3 {
    font-size: 1.5em;
  }
}

@media screen and (width: 1024px) {
  .face {
    height: 40vw;
    width: 24vh;
  }
}

@media screen and (max-width: 963px) {
  .face {
    height: 34vw;
    width: 26vh;
  }
  #filho1,
  #filho2,
  #filho3 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 873px) {
  ._entrada {
    margin-top: 87px;
  }
  .face {
    height: 38vw;
    width: 23vh;
  }
  #filho1,
  #filho2,
  #filho3 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 785px) {
  ._entrada {
    margin-top: 132px;
  }
  .face {
    height: 37vw;
    width: 22vh;
  }
  #pai1,
  #pai2,
  #pai3 {
    font-size: 1.7em;
  }
  #filho1,
  #filho2,
  #filho3 {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 743px) {
  .face {
    height: 30vh;
    width: 31vw;
  }
  #pai1,
  #pai2,
  #pai3 {
    font-size: 1.6em;
  }
  #filho1,
  #filho2,
  #filho3 {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 686px) {
  .face {
    height: 33vh;
    width: 31vw;
  }
  #pai1,
  #pai2,
  #pai3 {
    font-size: 1.6em;
  }
  #filho1,
  #filho2,
  #filho3 {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 624px) {
  .face {
    height: 50vw;
    width: 17vh;
  }
  #pai1,
  #pai2,
  #pai3 {
    font-size: 1.4em;
  }
  #filho1,
  #filho2,
  #filho3 {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 567px) {
  body {
    overflow-y: auto;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  ._cabecalho {
    font-size: 4vmin;
    line-height: 11vw;
  }
  ._entrada {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1em auto 0 auto;
  }
  ._input {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 11em;
    height: 2.3em;
    border-radius: 10px;
    margin: 20px auto 8px auto;
  }
  ._input:focus {
    -webkit-transform: none;
            transform: none;
  }
  ._button {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 14.2em;
    height: 3.6em;
    font-size: 1.1em;
    padding: 5px;
    border-radius: 38px;
    margin: auto;
    border: 1px solid #7c39bc;
  }
  .seta {
    width: 0px;
    height: 0px;
  }
  .cartao {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #frente1,
  #frente2,
  #frente3 {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  #card1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
    margin-top: 12px;
  }
  #card2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
    margin-top: 370px;
  }
  #card3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
    margin-top: 370px;
  }
  .face {
    border-radius: 10px;
    height: 355px;
    width: 89.4vw;
  }
  #pai1,
  #pai2,
  #pai3 {
    text-align: center;
    font-size: 10vw;
  }
  #filho1,
  #filho2,
  #filho3 {
    font-size: 1.7em;
    text-align: center;
    line-height: 31px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1030px) and (orientation: landscape) {
  .face {
    width: 31vw;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .seta {
    width: 1.5625em;
    height: 1.5625em;
    padding-top: 0.3125em;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    -webkit-animation: is-bouncing 0.5s ease-in alternate infinite;
            animation: is-bouncing 0.5s ease-in alternate infinite;
  }
  .cartao {
    margin-top: 50px;
  }
}

@media screen and (min-width: 737px) and (max-width: 1023px) and (orientation: landscape) {
  body {
    overflow-y: auto;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .seta {
    width: 1.5625em;
    height: 1.5625em;
    padding-top: 0.3125em;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    -webkit-animation: is-bouncing 0.5s ease-in alternate infinite;
            animation: is-bouncing 0.5s ease-in alternate infinite;
  }
  .face {
    width: 31vw;
  }
  .cartao {
    margin-top: 20px;
  }
  #pai1,
  #pai2,
  #pai3 {
    font-size: 1.8em;
  }
  #filho1,
  #filho2,
  #filho3 {
    font-size: 1.4em;
  }
}

@media screen and (width: 812px) and (height: 375px) and (orientation: landscape) {
  body {
    overflow-y: auto;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .seta {
    width: 1.5625em;
    height: 1.5625em;
    padding-top: 0.3125em;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    -webkit-animation: is-bouncing 0.5s ease-in alternate infinite;
            animation: is-bouncing 0.5s ease-in alternate infinite;
  }
  .face {
    height: 36vw;
    width: 70vh;
  }
  .cartao {
    margin-top: 20px;
  }
  #pai1,
  #pai2,
  #pai3 {
    font-size: 1.6em;
  }
  #filho1,
  #filho2,
  #filho3 {
    font-size: 1.4em;
  }
}

@media screen and (width: 823px) and (orientation: landscape) {
  .face {
    height: 39vw;
    width: 63vh;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .seta {
    width: 1.5625em;
    height: 1.5625em;
    padding-top: 0.3125em;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    -webkit-animation: is-bouncing 0.5s ease-in alternate infinite;
            animation: is-bouncing 0.5s ease-in alternate infinite;
  }
  .cartao {
    margin-top: 50px;
  }
}

@media screen and (min-width: 568px) and (max-width: 736px) and (orientation: landscape) {
  body {
    overflow-y: auto;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .seta {
    width: 1.5625em;
    height: 1.5625em;
    padding-top: 0.3125em;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    -webkit-animation: is-bouncing 0.5s ease-in alternate infinite;
            animation: is-bouncing 0.5s ease-in alternate infinite;
  }
  .face {
    height: 43vw;
    width: 57vh;
  }
  .cartao {
    margin-top: 20px;
  }
  #pai1,
  #pai2,
  #pai3 {
    font-size: 1.6em;
  }
}

@media screen and (width: 720px) and (orientation: landscape) {
  .face {
    height: 39vw;
    width: 43vh;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .seta {
    width: 1.5625em;
    height: 1.5625em;
    padding-top: 0.3125em;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    -webkit-animation: is-bouncing 0.5s ease-in alternate infinite;
            animation: is-bouncing 0.5s ease-in alternate infinite;
  }
}

@media screen and (width: 653px) and (height: 280px) and (orientation: landscape) {
  body {
    overflow-y: auto;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .seta {
    width: 1.5625em;
    height: 1.5625em;
    padding-top: 0.3125em;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    -webkit-animation: is-bouncing 0.5s ease-in alternate infinite;
            animation: is-bouncing 0.5s ease-in alternate infinite;
  }
  .face {
    height: 42vw;
    width: 75vh;
  }
  .cartao {
    margin-top: 16px;
  }
  ._entrada {
    margin-top: 70px;
  }
  #pai1,
  #pai2,
  #pai3 {
    font-size: 1.6em;
  }
  #filho1,
  #filho2,
  #filho3 {
    font-size: 1.4em;
  }
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}
/*# sourceMappingURL=main.css.map */